
.footer{
    border: 1px solid burlywood;
    height: 50px;
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    text-align: right;
    color: wheat;
}

.footer p {
    margin: 5px 5px;
}